body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    background: #000;
}
ul {
    list-style-type: none;
    padding: 0;
}

form {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}
table ,th,td {
    width: 100%;
    border:#000 1px solid;
    border-spacing: 0;
    /* border-collapse: collapse; */
}
.container-devis{
    width: 755px;
    margin: auto;
    position: relative;
    display: block;
    justify-content: center;
}
.container-devis img{
    height: 100px;
    width: auto;
}
.container-devis ul{
    margin-right: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.container-infos{
    line-height: 3px;
}
